.col1{
    background: #baefff;
}
.col2{
    background: #c1ffa6;
}
.col3{
    background: #ffd998;
}
.col4{
    background: #ffa188;
}
.col5{
    background: #ffa6fc;
}
.col6{
    background: #82e0ff;
}

